@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-color: #222;
  color: #eee;
  font-family: 'VT323', monospace;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  padding: 80px;
  animation: border-color 60s linear infinite;
  margin: 0;
}

h4 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
}

.content {
  margin-bottom: 50px;
}

img.colophon {
  display: block;
  margin: 0 auto;
  max-width: 10%;
  vertical-align: middle;
}

@keyframes border-color {
  0% {
    border-color: red;
  }
  25% {
    border-color: orange;
  }
  50% {
    border-color: purple;
  }
  75% {
    border-color: orange;
  }
  100% {
    border-color: red;
  }
}

a:link {
  color: lightgreen;
}

a:visited {
  color: limegreen;
}

@media (min-width: 768px) {
  body {
    border: 35px solid transparent;
    animation-name: border-color;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    padding: 80px 80px 150px;
  }
}
