body {
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
   padding: 50px;
}

.container {
  padding: 100px;
}

@media (min-width: 768px) {
  body {
    border: 20px solid transparent;
    animation: border-color 4s linear infinite;
  }
  .container {
    padding: 100px;
  }
}

@keyframes border-color {
  0% {
    border-image: linear-gradient(to bottom right, red, orange, purple) 1;
  }
  50% {
    border-image: linear-gradient(to bottom right, orange, purple, red) 1;
  }
  100% {
    border-image: linear-gradient(to bottom right, purple, red, orange) 1;
  }
}
